@use "matugen__" as *;

.debug {
    background-color: green;
}

.bar {
    background-color: transparent;
    color: $on-background;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-weight: 500;
}
.deactivation-area {
    background-color: transparent;
}
.icon {
    font-family: "Material Symbols Rounded";
    font-weight: 600;
    color: $on-background;
    font-size: 20px;
}
.icon.filled {
    font-family: "Material Symbols Rounded Filled";
    font-weight: 600;
    color: $on-background;
}
.bar-island {
    background-color: $background;

    border-radius: 12px;
    border-style: solid;
    border-color: $primary;
    border-width: 2px;

    padding-left: 15px;
    padding-right: 15px;

    margin-right: 3px;
}
.button {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: $on-background
}
.buttons-group {
    border-style: solid;
    border-color: $outline;
    border-width: 2px;
    border-radius: 10px;
}
.menu-area {
    color: $on-background;
    background-color: $background;

    border-radius: 12px;
    border-style: solid;
    border-color: $primary;
    border-width: 2px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;

    margin-top: 5px;
}
.scale {
    padding: 0;
    background: none;

    trough {
        padding: 0;
        margin: 0;
        border-width: 0;
        border-radius: 2px;
        min-height: 4px;
        background-color: $outline-variant;
    }
    highlight {
        border-width: 0;
        border-radius: 2px;
        min-height: 4px;
        background-color: $secondary;
    }
    slider {
        min-width: 0;
        min-height: 0;
        margin: 0;
        background: none;
    }
}


// ========== MULTIBUTTON ==========
.bar-island.multibutton {
    padding: 0;
    min-width: 25px;
}
.button.multibutton {
    margin-left: 2px;
}
.icon.multibutton {
    font-size: 20px;
}

// ======= Resource Monitor =======
.resource-monitor {
    min-width: 170px;
}
.icon.resource-info {
    font-size: 20px;
    font-weight: 400;
}
.resource-info-text {
    font-family: "Monospace Typewriter";
    font-weight: 500;
    min-width: 60px;
}


// ========== KEYBOARD ==========
.keyboard {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 20px;
    font-size: 15px;
    
}


// ========== CLOCK ==========
// ======= Clock Widget =======
.clock {
    padding-left: 17px;
    padding-right: 10px;
}
.time {
    min-width: 50px;
}
.icon.timer {
    font-size: 20px;
}

// ========== MEDIA ==========
.media-button {
    font-family: "Material Symbols Rounded Filled";
    font-weight: 800;
}

// ======= Media Widget =======
.bar-island.now-playing {
    min-width: 300px;
}
.media-button.widget {
    color: $on-background;
    padding: 0;
    font-size: 20px;
}
.media-title.widget {
    color: $on-background;
}
.icon.widget {
    font-size: 20px;
}

// ======= Media Menu =======
.media-menu {
    background-color: transparent;
}
.media-title {
    color: $primary;
    background: none;
}
.media-artists {
    color: $secondary;
    background: none;
}
.media-button {
    background: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: $primary;
}
.media-button.off {
    font-weight: 300;
}
.media-button:disabled {
    font-weight: 300;
    color: $outline-variant;
}
.media-progress {
    background: none;
}
.volume-group {
    background: none;
}

.media-volume-scale {
    highlight {
        background-color: $secondary;
    }
}
.media-volume {
    background: none;
}
.scale.media-progress-scale {
    highlight {
        background-color: $tertiary;
    }
}
// ----- media menu active -----
.card-art {
    min-width: 230px;
    min-height: 230px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.vinyl-bg {
    min-width: 250px;
    min-height: 250px;
    background-color: $secondary;
    border-radius: 20px;
}
.vinyl-fg {
    min-width: 15px;
    min-height: 15px;
    background-color: $tertiary;
    border-radius: 50%;
}
.active-media-info {
    margin-left: 30px;
    min-width: 300px;
}
.active-media-text {
    min-height: 140px;
}
.media-artists.active {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}
.media-title.active {
    font-size: 40px;
    font-weight: 600;
    min-height: 100px;
}
.active-card-controls {
    margin-top: 20px;
    
}
.media-button.active {
    font-size: 20px;
}
.scale.media-progress-scale.active {
    margin-top: 10px;
    trough {
        min-width: 250px;
    }
}
.volume-group.active {
    margin-top: 2px;
}
.scale.media-volume-scale.active {
    padding: 0;

    trough {
        min-width: 100px;
    }
}
// ----- media menu background -----
.background-media-text {
    min-height: 80px;
    min-width: 250px;
}
.media-artists.background {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}
.media-title.background {
    font-size: 20px;
    font-weight: 600;
    min-height: 60px;
}
.background-media-info {
    margin-left: 30px;
    min-width: 300px;
}
.scale.media-progress-scale.background {
    trough {
        min-width: 250px;
    }
}
.scale.media-volume-scale.background {
    trough {
        min-width: 60px;
    }
}
.background-card-controls {
    margin-top: 10px;
}
.volume-group.background {
    padding-right: 10px;
}


// ========== CHANNELS MENU ==========
.channels-menu {
    background-color: transparent;
}
.node-card {
    min-width: 200px;
}
.icon.node-mute.default {
    font-size: 20px;
}
.icon.node-mute {
    font-size: 15px;
}
.icon.open-devices {
    font-size: 20px;
}
.scale.node-volume-scale {
    min-width: 200px;
    padding-left: 5px;
}
.scale.node-volume-scale.default {
    min-width: 250px;
    padding-left: 10px;
    padding-right: 10px;
}
.scale.stream-volume-scale {
    min-width: 160px;
    padding-left: 10px;
}
.device-name.default {
    color: $primary;
    font-size: 20px;
    font-weight: 600;

    margin-bottom: 10px;
}
.inactive-nodes {
    margin-top: 10px;
}
.stream-name {
    font-size: 17px;
    font-weight: 500;

    min-width: 100px;

    padding-right: 10px;
}
.icon.mute {
    color: $error;
}




// ========== CONTROL MENU ==========
.icon.control-button {
    font-size: 20px;
    margin-left: 8px;
    margin-right: 13px;
}
.control-menu {
    background-color: transparent;
}
.menu-area.control-menu-area {
    min-width: 300px;
}
.buttons-group.control-menu-buttons {
    min-width: 80px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.icon.control-menu-button {
    font-size: 30px;
}
.icon.control-menu-button.inactive {
    color: $error;
}
.control-menu-button-info {
    font-family: "Monospace Typewriter";
    color: $primary;
    font-weight: 700;
}

.icon.power-menu {
    font-weight: 800;
}


// ======= Network Menu =======
.network-name {
    font-size: 17px;
}
.network-entry {
    border-style: solid;
    border-color: $outline;
    border-width: 2px;
    border-radius: 10px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-top: 4px;

    min-width: 100px;
    min-height: 30px;
}
.wifi-password-prompt {
    color: $primary;
    font-weight: 600;
    font-size: 15px;
    padding-right: 10px;
}
.wifi-password-input {
    background-image: none;
    box-shadow: none;
    min-height: 0;


    background-color: transparent;
    color: $on-background;

    border-style: solid;
    border-width: 2px;
    border-color: $outline;
    border-radius: 10px;

    padding: 0px 10px;
    margin: 2px 6px;

    font-family: "Monospace Typewriter";
    font-size: 18px;
    font-weight: 800;

    caret-color: $primary;
    -gtk-secondary-caret-color: $primary;

    &:focus {
        border-color: $primary;
    }

    selection {
        background-color: $primary;
        color: $on-primary;
    }
}

// ======= Bluetooth Menu =======
.bt-device {
    border-style: solid;
    border-color: $outline;
    border-width: 2px;
    border-radius: 10px;

    padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-top: 4px;

    min-width: 250px;
}
.bt-menu-title {
    font-size: 20px;
    font-weight: 600;
    color: $primary;
}
.bt-device-name {
    font-size: 17px;
    padding-right: 10px;
    min-width: 130px;
}
.icon.bt-device-icon {
    font-size: 30px;
    color: $primary;
}
.bt-devices {
    margin-bottom: 10px;
}
.bt-device-charge {
    font-size: 15px
}
.icon.bt-menu-icon {
    font-size: 25px;
    color: $primary;
}
.icon.bt-menu-icon.scanning {
    color: $tertiary;
}
.bt-paired-nothing-here {
    min-width: 250px;
}
.bt-device-name.found {
    min-width: 220px;
}
.prompt-question {
    color: $primary;
    font-weight: 600;
    font-size: 15px;
    min-width: 100px;
    padding-right: 10px;
}
.prompt-input {
    background-image: none;
    box-shadow: none;
    min-height: 0;


    background-color: transparent;
    color: $on-background;

    border-style: solid;
    border-width: 2px;
    border-color: $outline;
    border-radius: 10px;

    padding: 4px 10px;
    margin: 6px 0;

    font-family: "Monospace Typewriter";
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 15px;

    caret-color: $primary;
    -gtk-secondary-caret-color: $primary;

    &:focus {
        border-color: $primary;
    }

    selection {
        background-color: $primary;
        color: $on-primary;
    }
}
.prompt-output {
    border-style: solid;
    border-width: 2px;
    border-color: $outline;
    border-radius: 10px;

    padding: 4px 10px;
    margin: 6px 0;

    font-family: "Monospace Typewriter";
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 15px;
}
.prompt-confirm {
    border-style: solid;
    border-width: 2px;
    border-color: $outline;
    border-radius: 10px;

    padding: 4px 10px;
    margin: 6px 0;

    font-size: 18px;
    font-weight: 800;

    margin-right: 10px;
}


// ======= Wallpaper Menu =======
.wallpaper-preview {
    min-width: 200px;
    min-height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.wallpaper-color {
    min-width: 35px;
    min-height: 20px;

    border-radius: 20px;
}
.scroll {
    -GtkScrolledWindow-scrollbar-spacing: 0;
    undershoot.top, undershoot.bottom { background: none; }
    overshoot.top, overshoot.bottom   { background: none; }

    scrollbar {
        opacity: 0;
        min-width: 0;
        min-height: 0;
        background: none;
        border: none;

        slider, trough {
            min-width: 0;
            min-height: 0;
            margin: 0;
            background: none;
            border: none;
        }
    }
}


// ========== TIME MENU ==========
.time-menu {
    background-color: transparent;
}
.time-menu-calendar {
    background-color: transparent;
    color: $on-background;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;

    border: none;
    box-shadow: none;

    &.header {
        color: $primary;
        font-weight: 600;
    }
    &.button {
        color: $outline;
        &:hover { color: $primary; }
    }

    &.highlight {
        color: $secondary;
        font-weight: 600;
    }

    &:selected {
        background-color: $primary;
        color: $on-primary;
        border-radius: 8px;
        font-weight: 800;
    }

    &:indeterminate {
        color: $outline-variant;
    }
}