$primary:           #90d5ae;
$on-primary:        #003823;
$secondary:         #b4ccbc;
$tertiary:          #a4cddd;
$error:             #ffb4ab;
$surface:           #0f1511;
$on-surface:        #dee4de;
$background:        #0f1511;
$on-background:     #dee4de;
$outline:           #8a938c;
$outline-variant:   #404943;