$primary:           #adc6ff;
$on-primary:        #102f60;
$secondary:         #bfc6dc;
$tertiary:          #debcdf;
$error:             #ffb4ab;
$surface:           #111318;
$on-surface:        #e2e2e9;
$background:        #111318;
$on-background:     #e2e2e9;
$outline:           #8e9099;
$outline-variant:   #44474f;