// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
include "matugen.kdl"

config-notification {
    disable-failed
}



// ##### Autostart #####
spawn-at-startup "zen-browser"
spawn-at-startup "steam"
spawn-at-startup "org.telegram.desktop"
spawn-at-startup "discord"
spawn-at-startup "spotify"
spawn-sh-at-startup "vicinae server"
spawn-sh-at-startup "killall AmneziaVPN 2>/dev/null; sleep 1 && env QT_QPA_PLATFORM=xcb AmneziaVPN &"
spawn-at-startup "polkit-gnome"
spawn-sh-at-startup "sunshine &"


// === use dms ===
//spawn-at-startup "dms" "run"


// === use random shit ===
spawn-at-startup "awww-daemon" "--namespace" "backdrop"
spawn-at-startup "~/.config/niri/scripts/restart-eww.sh"
spawn-sh-at-startup "~/.local/bin/noid"

// = my scripts =



// ##### Monitors #####
// Gigabyte
output "DP-1" {
    mode "2560x1440@143.972"
    position x=0 y=0
    
    focus-at-startup
}

// Asus
output "DP-2" {
    mode "2560x1440@74.925"
    position x=-1440 y=0
}





// ##### Input #####
gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        xkb {
            layout "us,ru"
            variant ","
            options "grp:caps_toggle"
        }
        track-layout "global"
        numlock
    }

    mouse {
        accel-speed 0.2
    }
    focus-follows-mouse max-scroll-amount="10%"

    tablet {
        map-to-output "DP-1"
    }
}





// ##### Visuals #####

cursor {
    xcursor-theme "Bibata-Modern-Ice"

}

// blur
blur {
    //off

    passes 1
    offset 3
    noise 0
    saturation 1
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
}

window-rule {
    match app-id="Alacritty"
    match app-id="io.missioncenter.MissionCenter"

    

    background-effect {
        blur true
        xray false
    }
    popups {
        background-effect {
            blur true
            xray false
        }
    }

    opacity 0.9
}

window-rule {
    match app-id="Spotify"
    match app-id="org.gnome.Nautilus"
    


    background-effect {
        blur true
        xray false
    }

    popups {
        background-effect {
            blur true
            xray false
        }
    }

    opacity 0.95
}


layer-rule {
    match namespace="vicinae"

    background-effect {
        blur true
        xray false
    }

    opacity 0.85
    
}


layout {
    gaps 3
    background-color "transparent"
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    preset-window-heights {
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }
    focus-ring {
        width 2
        active-color   "#a7a7a7"
        inactive-color "#505050"
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
    }
}
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}
layer-rule {
    match namespace="^awww-daemonbackdrop$"
    place-within-backdrop true
}
overview {
    workspace-shadow {
        off
    }
}

environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  TERMINAL "alacritty"
  XCURSOR_THEME "Bibata-Modern-Ice"
  XCURSOR_SIZE "24"
}
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}





// ##### Named Workspaces #####
workspace "Work" {
    open-on-output "DP-1"
}
workspace "Internet" {
    open-on-output "DP-1"
}
workspace "Chats" {
    open-on-output "DP-1"
}
workspace "Autism" {
    open-on-output "DP-1"
}





// ##### Window Rules #####
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}


// === Open Games ===
window-rule {
    match app-id="steam_app_*"

    open-fullscreen true
    open-on-output "DP-1"
    open-on-workspace "Autism"
}


// === Workspaces ===
window-rule {
    match app-id="steam"
    match app-id="net.lutris.Lutris"

    open-on-workspace "Autism"
}

window-rule {
    match app-id="org.telegram.desktop"
    match app-id="discord"

    open-on-workspace "Chats"
}

window-rule {
    match app-id="zen"
    match app-id="Spotify"
    match app-id="AmneziaVPN"

    exclude title="Picture-in-Picture"

    open-on-workspace "Internet"
}

window-rule {
    match app-id="unityhub"
    match app-id="Unity"
    match app-id="blender|Blender"
    match app-id="codium"
    match app-id="BambuStudio"
    match app-id="FreeCAD"
    match app-id="affinity.exe"
    match app-id="org.godotengine.ProjectManager"
    match app-id="jetbrains-rider"

    open-on-workspace "Work"
}


// === Open Rules ===
window-rule {
    exclude app-id="Alacritty"

    exclude app-id="org.gnome.Nautilus"
    exclude app-id="org.gnome.Nautilus"

//    exclude app-id="steam" title="Friends List|Steam Settings"

    open-maximized true
}

window-rule {
    match app-id="steam"
    match app-id="Flameshot"
    match title="Picture-in-Picture"
    exclude app-id="steam" title="Steam"
    match app-id="io.missioncenter.MissionCenter"
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"

    
    open-floating true
}

window-rule {
    match at-startup=false
    exclude app-id="steam"

    open-focused true
}

window-rule {
    match app-id="io.missioncenter.MissionCenter"

    default-floating-position x=670 y=700 relative-to="bottom-left"

    min-width 1200
    min-height 800
}






// ##### Shortcuts #####
binds {

    // === System & Overview ===
    Mod+Tab repeat=false { spawn "niri" "msg" "action" "toggle-overview"; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+Q { quit; }


    // === Application Launchers ===
    Mod+Return repeat=false hotkey-overlay-title="Open Terminal" { spawn "alacritty"; }
    Mod+B repeat=false { spawn "zen-browser"; }
    Mod+E repeat=false { spawn "nautilus"; }


    // === Vicinae ===
    Alt+Space repeat=false { spawn "vicinae" "toggle"; }
    Mod+V repeat=false { spawn "vicinae" "vicinae://launch/clipboard/history"; }


    // Utils
    Ctrl+Shift+Escape hotkey-overlay-title="Task Manager" {
        spawn "missioncenter";
    }
    Mod+Ctrl+C repeat=false { spawn-sh "killall hyprpicker 2>/dev/null; hyprpicker -aq"; }


    // === Security ===
    Mod+L hotkey-overlay-title="Lock Screen" {
        spawn "dms" "ipc" "call" "lock" "lock";
    }
    

    // === Audio Controls ===
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "micmute";
    }


    // === Window Management ===
    Alt+Q repeat=false { close-window; }
    Mod+Q repeat=false { close-window; }
    
    Mod+T { spawn "~/.config/niri/scripts/toggle-float.sh";  }
    Mod+Shift+T { switch-focus-between-floating-and-tiling; }


    // === Within Monitor Focus ===
    Mod+A { focus-column-left; }
    Mod+Left { focus-column-left; }
    Mod+MouseBack { focus-column-left; }
    Mod+D { focus-column-right; }
    Mod+Right { focus-column-right; }
    Mod+MouseForward { focus-column-right; }
    Mod+W { focus-window-or-workspace-up; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+S { focus-window-or-workspace-down; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+WheelScrollDown { focus-workspace-down; }
    Mod+WheelScrollUp { focus-workspace-up; }

    // === Whithin Monitor Movement ===
    Mod+Shift+A { move-column-left; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+MouseBack { move-column-left; }
    Mod+Shift+D { move-column-right; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+MouseForward { move-column-right; }
    Mod+Shift+W { move-window-up-or-to-workspace-up; }
    Mod+Shift+Up { move-window-up-or-to-workspace-up; }
    Mod+Shift+S { move-window-down-or-to-workspace-down; }
    Mod+Shift+WheelScrollDown { move-window-down-or-to-workspace-down; }
    Mod+Shift+Down { move-window-down-or-to-workspace-down; }
    Mod+Shift+WheelScrollUp { move-window-up-or-to-workspace-up; }

    // === Consumption Controls ===
    Mod+Alt+D { consume-or-expel-window-right; }
    Mod+Alt+Right { consume-or-expel-window-right; }
    Mod+Alt+MouseForward { consume-or-expel-window-right; }
    Mod+Alt+A { consume-or-expel-window-left; }
    Mod+Alt+Left { consume-or-expel-window-left; }
    Mod+Alt+MouseBack { consume-or-expel-window-left; }

    // === Between Monitor Focus ===
    Mod+Ctrl+D { focus-monitor-right; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+MouseForward { focus-monitor-right; }
    Mod+Ctrl+A { focus-monitor-left; }
    Mod+Ctrl+Left { focus-monitor-left; }
    Mod+Ctrl+MouseBack { focus-monitor-left; }

    // === Between Monitor Movement === 
    Mod+Ctrl+Shift+D { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+Right { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+MouseForward { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+A { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+Left { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+MouseBack { move-column-to-monitor-left; }

    // === Sizing & Layout ===
    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Z { set-column-width "33%"; }
    Mod+X { set-column-width "50%"; }
    Mod+C { set-column-width "67%"; }

    Mod+Shift+Z { set-window-height "33%"; }
    Mod+Shift+X { set-window-height "50%"; }
    Mod+Shift+C { set-window-height "100%"; }


    // === Screenshots ===
    XF86Launch1 { screenshot; }
    Mod+Ctrl+S { screenshot; }
    Print { screenshot; }

    // === System Controls ===
    Mod+Shift+P { power-off-monitors; }
}
debug {
    honor-xdg-activation-with-invalid-serial
}
